<style>
    .ticket {
        box-shadow: 4px 4px 6px #d1d9e6, -4px -4px 6px #ffffff;
        border-radius: 8px;
        margin: 0 auto;
        margin-bottom: 15px;
        width: 80%;
        padding: 10px;
        font-size: 1.3rem;
    }

    .create-raffle {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        background: #ecf0f3;
        box-shadow: 4px 4px 4px 0px #d1d9e6, -4px -4px 4px 0px #fff;
        border-radius: 16px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .create-raffle a {
        font-family: 'Rock Salt', cursive;
        font-size: 1.5rem;
        color: lightskyblue;
        text-decoration: none;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .hold-raffle-drawing {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        background: #ecf0f3;
        box-shadow: 4px 4px 4px 0px #d1d9e6, -4px -4px 4px 0px #fff;
        border-radius: 16px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .hold-raffle-drawing a {
        font-family: 'Rock Salt', cursive;
        font-size: 1.5rem;
        color: lightskyblue;
        text-decoration: none;
        padding: 10px;
        width: 100%;
        text-align: center;
    }



@media screen and (orientation : landscape) {
    #walkthrough {
        display: none;
    }
}
</style>

<% if (user.admin===true) { %>



<%- include('../partials/menus/admin-nav.ejs'); %>
    <div class="admin-container">
<div class="page-title">
    <h1>
        <%= page %>
    </h1>
</div>


<div class="create-raffle">
    <a href="/admin/raffle/new">Create New Raffle</a>
</div>


    </div>



    
<% } else { %>
    <%- include('../partials/pages/404.ejs'); %>
    
<% } %>