<style>
    .mission-statement-container {
        width: 90%;
        margin: 0 auto;
    }
    .mission-statement-container p {
        font-size: 1.2rem;
    }
</style>

<div class="page-title">
    <h1>Our Mission</h1>
</div>


<div class="mission-statement-container">
    <p><%= missionStatement.mission_statement %></p>
</div>
<div class="site-logo-big">
    <img src="/images/logo_1a1a1c.png" alt="">
</div>


