<style>
    .site-logo-big {
        display: block;
        bottom: 35%;
    }
    #raffleHeader {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 65px;
        box-shadow: 0 -6px 5px rgba(0, 0, 0, 0.25);
        border-top: outset 1px rgba(255, 255, 255, 0.75);
        background: #ecf0f3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        z-index: 99993;
    }

    #raffleHeader h2 {
        font-size: 1.5rem;
        padding-left: 20px;
        color: lightskyblue;
        font-family: 'Rock Salt', cursive;
    }

    #raffleHeader i {
        color: lightskyblue;
        font-size: 2rem;
        padding-right: 20px;
    }

    .raffle-overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 99950;
        left: 0;
        bottom: 0;
        background: #ecf0f3;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 0 -6px 5px rgba(0, 0, 0, 0.25);
        border-top: outset 1px rgba(255, 255, 255, 0.75);
    }

    .raffle-overlay-content {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 200px;
        max-height: 200px;
        text-align: center;
    }

    .raffle-overlay p {
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Rock Salt', cursive;
        color: lightskyblue;
        text-shadow: 0 0 5px rgba(127, 198, 241, 0.5);
        display: block;
        transition: ease-in 0.5s;

    }

    .raffle-overlay a {
        padding: 5px;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Rock Salt', cursive;
        color: lightskyblue;
        text-shadow: 0 0 5px rgba(127, 198, 241, 0.5);
        display: block;
        transition: ease-in 0.5s;
    }

    .raffle-overlay a:hover,
    .raffle-overlay a:focus {
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 8px rgba(135, 206, 250, 0.75);
        transition: ease-in 0.5s;
    }

    .raffle-overlay .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 2rem;
        z-index: 99940;
        font-size: 1.2rem;
    }

    .current-raffle-prize {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .current-raffle-prize img {
        height: 150px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: 4px 4px 6px #d1d9e6, -4px -4px 6px #ffffff;
    }

    .raffle-item-price {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .raffle-item-price button {
        padding: 5px;
        box-shadow: 4px 4px 6px #d1d9e6, -4px -4px 6px #ffffff;
        outline: none;
        border: none;
        font-family: 'Rock Salt', cursive;
        font-size: 1.2rem;
        color: lightskyblue;
        background: #ecf0f3;
        border-radius: 8px;
    }

    .current-raffle-prize-title {}

    .current-raffle-prize-title h5 {
        padding: 12px;
        font-size: 1.3rem;
    }

    #raffleCountdownClock {
        text-align: center;
    }

    #raffleCountdownClock p {
        text-align: center;
        font-size: 1rem;
    }

@media screen and (orientation : landscape) {
    .site-logo-big {

        display: none;
    }
    .logo-container {
        margin-top: 100px;
        width: 95%;
    }
    .company-logo img {
        max-height: 100px;
    }
    #raffleHeader {
        width: 40%;    
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}
</style>



<div class="site-logo-big">
    <img src="/images/logo_1a1a1c.png" alt="">
</div>


<div class="filter-portrait">
    <%- include('./partials/filters/products.ejs'); %>
</div>
<div class="filter-landscape">
    <%- include('./partials/filters/products-landscape.ejs'); %>
</div>


    <div class="landing-page-container">
        <div class="logo-container">
            <% companies.forEach(function(company) { %>
                <div class="company-logo">
                    <a href="/products/manufacturer/<%= company.id %>">
                        <img src="<%= company.logo %>" alt="">
                    </a>    
                </div>
                <% }) %>
        </div>

    </div>

    <div id="raffleHeader">
        <h2>Raffle</h2>
        <p style="padding: 8px;">No Current Raffle</p>
    </div>
