<style>
    .user-details-container {
        width: 80%;
        background: #ecf0f3;
        box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
        border-radius: 8px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-details-container h5 {
        padding: 12px;
        margin-bottom: 5px;
        font-family: 'Rock Salt', cursive;
        color: lightskyblue;
        font-size: 1.2rem;
    }

    .user-details-link {
        width: 80%;
        background: #ecf0f3;
        box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
        border-radius: 8px;
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
    }

    .user-details-link a {
        padding: 10px;
        color: lightskyblue;
        text-decoration: none;
    }
</style>

<div class="page-title">
    <h1>
        <%= page %>
    </h1>
</div>


